[submodule "Acorn/vendor/spdlog"]
	path = Acorn/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Acorn/vendor/GLFW"]
	path = Acorn/vendor/GLFW
	url = https://github.com/TheCherno/glfw
